body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(224, 255, 217, 0.863);
}

.navbar {
    background-color: rgb(76, 115, 85);    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.navbar h2 {
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1;
}

.image-container {
    text-align: center;
    margin: 10px 0;
}

.image-container img {
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.profile-pic-container {
    margin-right: 20px;
}

.profile-pic-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details h2 {
    margin: 0;
    font-size: 24px;
}

.profile-details p {
    margin: 5px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 20px 0;
}

.button {
    font-size: 1.7rem;
    background-color: #0e8620;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
    background-color: #435e34;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

p {
    margin: 0;
}

