<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeX</title>
    <link rel="icon" href="{{ url_for('static', filename='images/bit.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div id = "logoid">
        <img src="{{ url_for('static', filename='images/bit-logoo.webp') }}" alt="Institute Logo" id="logo">
    </div>
        <nav>
        <ul>
            <li><a href="/">Sign In </a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/calc">GPA Calculator</a></li>
            <li><a href="/stats">Stats</a></li>
            
        </ul>
    </nav>
    <main>
        <section class="login">
            <h2>Sign In</h2>
            <form action="/home" method="post">
                <div>
                <label for="username">Username:</label>
                <input type="text" id="login-id" name="username">
                </div>
                <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                </div>
                <button type="submit">Login</button>
            </form>
        </section>
        <section class="features">
        </section>
        <section class="cta">
        </section>
    </main>
    <footer>
        <p id="copyright">&copy; Bangalore Institute of Technology 2024</p>
    </footer>
</body>

</html>